.scale{
  animation: scale linear 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: scale linear 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: scale linear 5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: scale linear 5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: scale linear 5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes scale{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  60% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  70% {
    transform:  scaleX(1.50) scaleY(1.50) ;
  }
  80% {
    transform:  scaleX(0.50) scaleY(0.50) ;
  }
  90% {
    transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes scale{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  60% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  70% {
    -moz-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  80% {
    -moz-transform:  scaleX(0.50) scaleY(0.50) ;
  }
  90% {
    -moz-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  60% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  70% {
    -webkit-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  80% {
    -webkit-transform:  scaleX(0.50) scaleY(0.50) ;
  }
  90% {
    -webkit-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes scale {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  60% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  70% {
    -o-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  80% {
    -o-transform:  scaleX(0.50) scaleY(0.50) ;
  }
  90% {
    -o-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes scale {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  60% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  70% {
    -ms-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  80% {
    -ms-transform:  scaleX(0.50) scaleY(0.50) ;
  }
  90% {
    -ms-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}