/*http://cssanimate.com/ */
.tada{
  animation: tada linear 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: tada linear 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;

  -moz-animation: tada linear 3 s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: tada linear 3 s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;

  -ms-animation: tada linear 3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes tada{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  55% {
    transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  65% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  75% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  85% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  95% {
    transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  98% {
    transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
   100% {
      transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes tada{
  0% {
    -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
   -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -moz-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  55% {
    -moz-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  65% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -moz-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  75% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -moz-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  85% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -moz-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  95% {
    -moz-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  98% {
    -moz-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
   100% {
      -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  45% {
   -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  55% {
    -webkit-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  65% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -webkit-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  75% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -webkit-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  85% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -webkit-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  95% {
    -webkit-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  98% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
   100% {
      -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes tada {
  0% {
    -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
   -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -o-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  55% {
    -o-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  65% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -o-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  75% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -o-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  85% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -o-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  95% {
    -o-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  98% {
    -o-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
   100% {
      -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes tada {
  0% {
    -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  45% {
   -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -ms-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  55% {
    -ms-transform:  rotate(-10deg) scaleX(0.80) scaleY(0.80) ;
  }
  65% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -ms-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  75% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -ms-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  85% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -ms-transform:  rotate(-10deg) scaleX(1.20) scaleY(1.20) ;
  }
  95% {
    -ms-transform:  rotate(10deg) scaleX(1.20) scaleY(1.20) ;
  }
  98% {
    -ms-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
   100% {
      -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
}