html,body{
	margin:0;
	padding:0;
	font-family: 'Play', sans-serif;
	height:100%;
	}
a{
    color:#000;
    text-decoration:none;
}
pre{
	background:#ccc;
	font-style: italic;
	border:1px dotted black;
	border-radius:2px;
	font-size:16px ;
	margin:5px;
	margin-left:20px;
	padding:5px;
}
.title{
	font-size:25px ;
	color:#016CB0;
	float:none;
	vertical-align:top;
	margin:15px;
	padding:15px;
}
#header{	
	background: linear-gradient(to top, #ffffff, #a8ada8);
	width:100%;
	display:table;
	overflow:auto;
}

.left{
	width:48%;
	float:left;
	position:relative;
}
.right{
	width:48%;
	float:right;
}

.footer{
	
	background: linear-gradient(to bottom, #ffffff, #a8ada8);
	width: 100%;
    height: 8%;
    left: 0;
    bottom: 0%;
	clear:both;
	display:table-row;
	overflow:auto;
	border:0px;
	
}

hr {
    border: 0;
    height: 1px;
   	background-image: linear-gradient(to right,  #000, #a8ada8);
}
.hr_title {
    border: 0;
    height: 1px;
  	background-image: linear-gradient(to right,  #000, #fff);
}
li{
	list-style-type:none;
}
.hand{
	cursor:pointer;
}

label{
    font-size:18px ;
	
}

.arrow_left{
	color:#f27f15;
}
.arrow_right{
	color:#016CB0;
}
.green {
  	color:green;
/*	text-align:left !important;*/
} 
.back-green {
  	background:#A9F5A9;
/*	text-align:left !important;*/
}   
.red {
  	color:red;
/*	text-align:left !important;*/
}
.back-red {
  	background:#F5BCA9;
/*	text-align:left !important;*/
}

.grey {
  	color:grey;
/*	text-align:left !important;*/
}
.back-grey {
  	background:#E6E6E6;
/*	text-align:left !important;*/
}   
.black { 
  	color:black;
/*	text-align:left !important;*/
}
.back-black { 
  	background:black;
/*	text-align:left !important;*/
}  
 
.twentypx{
	font-size:20px!important; ;
} 

.hidden{
	display:none;
}

@font-face {
      font-family: 'c2c';
      src: url('/css/font/c2c.eot?51981102');
      src: url('/css/font/c2c.eot?51981102#iefix') format('embedded-opentype'),
           url('/css/font/c2c.woff?51981102') format('woff'),
           url('/css/font/c2c.ttf?51981102') format('truetype'),
           url('/css/font/c2c.svg?51981102#c2c') format('svg');
    }    
    .c2c_icon_list {
      color: black;
      font-size: 45px;
	  line-height: 22px;
      font-family: "c2c";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
	  cursor:pointer;
	  margin:3px;
	  padding:5px; 	  
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    }
	
	.c2c_icon_list:hover{
		color: #016CB0;
	}
	
	 .c2c_ir {
      color: black;
      font-size: 60px;
	  line-height: 30px;
      font-family: "c2c";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
	  cursor:pointer;
	  margin:3px;
	  padding:5px; 	  
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    }
	
	.c2c_ir:hover{
		color: #016CB0;
	}
	
.input100 {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1px 1px 1px;
    outline: 0;
    font-size: 18px;
	font-family: "Play";
}
.input210 {
    width: 210px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1px 1px 1px;
    outline: 0;
    font-size: 18px;
	font-family: "Play";
}
table{
	font-size: 18px;
	font-family: "Play";
	text-align:center;
}
.lefthead{
	padding-top:5px;
	padding-left:5px;
	position:relative;
	float:left;
}
.hand{
	cursor:pointer;
}
.righthead{
	margin:20px;
	padding:20px;
	position:relative;
	float:right;
	
}
#c2c_drag{
z-index: 999;
margin: 5px ;
padding: 5px;
position: fixed;
}